*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    max-width: 1920px;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.primeira-img{
    background: url(./imagens/1347921.jpg) center center no-repeat ;
    background-size: cover;
}

.segunda-img{
    background: url(./imagens/1347941.jpg) center center no-repeat ;
    background-size: cover;
}

.terceira-img{
    background: url(./imagens/a4b4330184b278ac5afcd42a631701a5.jpg) center center no-repeat ;
    background-size: cover;
}

.quarta-img{
    background: url(./imagens/wp3797740.webp) center center no-repeat ;
    background-size: cover;
}

.texto {
    height: 400px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    margin: 0 90px 0 90px;
    font-family: Roboto, sans-serif;
    border-radius: 3px;
    padding: 0 20px;
}

.cinza{
    opacity: 0.2;
    cursor: context-menu;
}

h1{
    font-weight: 400;
    padding-top: 35px;
    padding-bottom: 40px;
}

p{
    font-weight: 300;
    padding-bottom: 25px;
}

a{
    text-decoration: none;
    color: #C50000;
}

a:hover{
    text-decoration: underline;
}

img{
    color: #ffffff;
    width: 70px;
    min-height: 50px;
}

body div:first-child{
    transform: rotate(90deg);
}

body div:nth-child(3){
    transform: rotate(-90deg);
    position: absolute;
    right: 2px;
}

.nada{
    display: none;
}